{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<h1
  class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  Posts</h1>
<div class="posts">
  {% for post in posts %}

  <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Need a help in Claim?</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by step guideline process on how to
      certify for your weekly benefits:</p>
    <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
      See our guideline
      <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
        </path>
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
      </svg>
    </a>
  </div>
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
      <div>
        <span id="likes-count-{{post.id}}">
          {{ post.likes|length }}</span>
        {% if user.id in post.likes|map(attribute="author")|list %}
        <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
        {% else %}
        <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
        {% endif %} {% if user.id == post.author %}
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
          <ul class="dropdown-menu">
            <li>
              <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">{{post.text}}</div>
      <br />
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
              </div>
              <div>
                <small class="text-muted"> {{comment.date_created}}</small>
                {% if user.id == comment.author or user.id == post.author %}
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <p class="card-text">
        {% if post.comments|length > 0 %}
        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
          <small>View {{post.comments|length}} Comments</small>
        </a>
        {% else %}
        <small class="text-muted">No Comments</small>
        {% endif %}
      </p>
      <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
        <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!" />
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>
    <div class="card-footer text-muted">{{post.date_created}}</div>
  </div>
  {% endfor %}
</div>
{% block footer %}
<div style="text-align:center;">
  <a href="/create-post"><button type="button" class="btn btn-primary btn-lg">
      Create a Post
    </button></a>
</div>
{% endblock %}
{% endblock %}