{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<h1
  class="text-center mb-12 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  Posts</h1>
<div class="posts text-center flex flex-col items-center">
  {% for post in posts %}
  <div
    class="px-8 w-1/2 py-8 mb-8 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="py-3 border-b border-gray-300 flex justify-between">
      <a href="/posts/{{post.user.username}}">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-blue-600">{{post.user.username}}
        </h5>
      </a>
      <div>
        <span id="likes-count-{{post.id}}" class="dark:text-white mr-1">
          {{ post.likes|length }}</span>
        {% if user.id in post.likes|map(attribute="author")|list %}
        <i class="fas fa-thumbs-up text-blue-600" like-button-{{post.id}} onclick="like('{{post.id}}')"></i>
        {% else %}
        <i class="far fa-thumbs-up dark:text-white" id="like-button-{{post.id}}" onclick="like('{{post.id}}')"></i>
        {% endif %}
      </div>
    </div>
    <div class="card-body py-6">
      <p class="my-3 mb-8 font-normal text-2xl text-gray-700 dark:text-white">{{post.text}}</p>
      {% if post.comments|length > 0 %}
      <div class="dropdown w-full">
        <button onclick="myFunction()" class="dropbtn text-blue-700 focus:outline-none">View {{ post.comments | length
          }} Comments</button>
        <div id="myDropdown" class="dropdown-content mt-2 px-2">
          {% for comment in post.comments %}
          <div class="flex justify-between items-center px-6 py-4 bg-slate-50 rounded-lg">
            <div>
              <a href="/posts/{{comment.user.username}}" class="text-blue-600">{{comment.user.username}}:
              </a>{{comment.text}}
            </div>
            <div>
              <small class="text-slate-500"> {{comment.date_created}}</small>
              {% if user.id == comment.author or user.id == post.author %}
              <a href="/delete-comment/{{comment.id}}"><i class="fas fa-trash ml-2 text-sm"></i></a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <small class="text-slate-400">No Comments</small>
      {% endif %}
      <form method="POST" action="/create-comment/{{post.id}}" class="mt-2">
        <div class="my-4 px-2 flex">
          <input type="text" id="text" name="text"
            class="mr-4 bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Write a reply..." required>
          <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reply</button>
        </div>
      </form>
    </div>
    <div class="py-2 border-t border-gray-300 text-gray-600 flex justify-between">
      {{post.date_created}}
      {% if user.id == post.author %}
      <a href="/delete-post/{{post.id}}"><i class="fas fa-trash"></i></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% block footer %}
<div class="text-center my-6">
  <a href="/create-post"><button type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Create
      a Post</button>
  </a>
</div>
{% endblock %}
{% endblock %}