@tailwind base;
@tailwind components;
@tailwind utilities;

form h3 {
  text-align: center;
}

i {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.show {
  display: block;
}
